<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>Hello, Welcome to {{appType}}!</h1>
  <div>
    {{smurf.name}}
  </div>
  <div>
    {{smurf.color}}
  </div>
  <div>
    <img src="{{smurf.pictureUrl}}"/>
  </div>
</body>
</html>